.App {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex {
  position: relative;
}

.pokemon-box {
  position: absolute;
  top: 310px;
  left: 200px;

  width: 110px;
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchingLamp {
  position: absolute;
  top: 168px;
  left: -30px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: rgb(185, 53, 53);
  border: 2px solid #313131;
  box-shadow: 1px 1px 3px #000, inset 1px 1px 3px #fff;
}

.pokemon-box__pokemon {
  width: 100%;
}

.pokemon-info {
  position: absolute;
  top: 175px;
  left: 50px;

  min-width: 200px;
}

.pokemon-box__pokemon-name {
  color: #313131;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.8rem;
}

.pokemon-box__pokemon-id {
  color: rgb(126, 126, 126);
}

.input-wrapper {
  width: 400px;
  position: absolute;
  bottom: 190px;
  left: 60px;
}

.input-wrapper input {
  color: #313131;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.8rem;
  width: 100%;
  padding: 10px 20px;

  box-shadow: 5px 5px 2px #313131;
  background: #fff;
  border: 5px solid #313131;
  border-radius: 5px;
}

.buttons-wrapper {
  width: 400px;
  position: absolute;
  bottom: 60px;
  left: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-wrapper button {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 60px;
  background: #686868;
  border: 5px solid #313131;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #313131, inset 5px 5px 2px #fff;
}

.buttons-wrapper button:active {
  box-shadow: 2px 2px 2px #313131, inset 5px 5px 2px #fff;
  transform: translate(3px, 3px);
}

/* .buttons-wrapper :nth-child(2) {
  margin-left: 20px;
} */